@font-face {
  font-family: 'Heading Now';
  src: url('https://fonts.vdhazel.com/headingnow/Heading-Now-Variable-Regular-trial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-bg1: rgb(255, 94, 77); /* Rojo cálido para el inicio del gradiente */
  --color-bg2: rgb(0, 17, 82); /* Naranja brillante para el fin del gradiente */
  --color1: 255, 163, 67; /* Naranja para g1 */
  --color2: 255, 209, 102; /* Amarillo para g2 */
  --color3: 135, 60, 190; /* Púrpura para g3 */
  --color4: 255, 94, 77; /* Rojo para g4 */
  --color5: 255, 105, 180; /* Rosa para g5 */
  --color-interactive: 135, 60, 190; /* Púrpura para interactive */
  --circle-size: 80%;
  --blending: soft-light; /* Ajustar según sea necesario para el efecto de mezcla deseado */
}
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

/* Fondo dinámico de gradiente */
.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 20px;
}

#animatedText {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(2rem, 5vw, 6rem); /* Adapta el tamaño del texto a diferentes pantallas */
  font-weight: 500; /* Peso de la fuente para mejorar la legibilidad */
  color: white; /* Color blanco para el texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para mejorar el contraste sobre el fondo */
  animation: none; /* Desactivar cualquier animación */
}

.gradients-container {
  filter: blur(40px);
  width: 100%;
  height: 100%;
}

/* Animaciones para los círculos */
.g1, .g2, .g3, .g4, .g5, .interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  border-radius: 50%;
}

.gradient-bg {
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
}

.g1 {
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%);
  width: var(--circle-size);
  height: var(--circle-size);
  animation: moveVertical 5s ease infinite; /* Reducido de 30s a 15s */
}

.g2 {
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%);
  width: var(--circle-size);
  height: var(--circle-size);
  animation: moveInCircle 5s reverse infinite; /* Reducido de 20s a 10s */
}

.g3 {
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%);
  width: var(--circle-size);
  height: var(--circle-size);
  animation: moveInCircle 10s linear infinite; /* Reducido de 40s a 20s */
}

.g4 {
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%);
  width: var(--circle-size);
  height: var(--circle-size);
  animation: moveHorizontal 10s ease infinite; /* Reducido de 40s a 20s */
}

.g5 {
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%);
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  animation: moveInCircle 5s ease infinite; /* Reducido de 20s a 10s */
}

.interactive {
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%);
  width: 100%;
  height: 100%;
  opacity: 0.7;
  animation: moveInCircle 10s ease infinite; /* Añadido para efecto */
}


/* Animaciones */
@keyframes moveInCircle {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

@keyframes moveVertical {
  0% { transform: translateY(-50%); }
  50% { transform: translateY(50%); }
  100% { transform: translateY(-50%); }
}

@keyframes moveHorizontal {
  0% { transform: translateX(-50%) translateY(-10%); }
  50% { transform: translateX(50%) translateY(10%); }
  100% { transform: translateX(-50%) translateY(-10%); }
}

/* Estilo para el contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 20px;
}



/* Estilos de botones y enlaces */
.btn {
  background-color: #152b6c; /* Color base del botón */
  color: white;
  padding: 15px 30px; /* Tamaño del botón */
  font-size: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}
.button-group {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 80px; /* Espacio entre cada botón */
}

.btn:hover, .btn:focus {
  background: linear-gradient(145deg, #000000, #000000); /* Azul claro que contrasta bien con un fondo rojo/naranja */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
  color: white; /* Mantener el texto blanco para asegurar la legibilidad */
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.register-link, .register-info {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Mejorar la legibilidad de los enlaces */
}
