<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña Restablecida</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Barra de navegación -->
    <div class="navbar">
        <a href="{% url 'home' %}" class="icon-home">
            <i class="fas fa-home"></i> Inicio
        </a>
    </div>
    <div class="container">
        <h1>Contraseña Restablecida con Éxito</h1>
        <p>Tu contraseña ha sido restablecida. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
        
        <!-- Enlace con estilo de botón -->
        <a href="{% url 'home' %}" class="btn">Iniciar Sesión</a>
    </div>
</body>
</html>
