<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <!-- Barra de navegación -->
    <div class="navbar">
        <a href="{% url 'home' %}" class="icon-home">
            <i class="fas fa-home"></i> Inicio
        </a>
    </div>

    <div class="container">
        <h1>Recuperar Contraseña</h1>
        <form method="post">
            {% csrf_token %}
            <label for="username">Nombre de Usuario:</label>
            <input type="text" name="username" required><br>
            <label for="email">Correo Electrónico:</label>
            <input type="email" name="email" required><br>
            <button type="submit">Solicitar Código de Recuperación</button>
        </form>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
