{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Paciente</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="gradient-bg">
        <div class="gradients-container">
            <div class="g1"></div>
            <div class="g2"></div>
            <div class="g3"></div>
            <div class="g4"></div>
            <div class="g5"></div>
            <div class="interactive"></div>
        </div>
    </div>
    
    
    <!-- Barra de navegación -->
    <div class="navbar">
        <a href="javascript:void(0)" class="icon-menu" onclick="openMenu()">
            <i class="fas fa-bars"></i> Menú
        </a>
       
        <a href="{% url 'home' %}" class="icon-home">
            <i class="fas fa-home"></i> Inicio
        </a>
            <!-- Botón para test_ai (análisis de platos) -->
        <a href="{% url 'test_ai' %}" class="icon-test-ai">
            <i class="fas fa-utensils"></i> Analizar Plato
        </a>
        

        
        <a href="{% url 'analyze_ingredients' %}" class="icon-ingredients">
            <i class="fas fa-seedling"></i> Analizar Ingredientes
        </a>
        <a href="{% url 'home' %}" class="icon-logout">
            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
        </a>
      
    </div>
    <br>
    
    

<!-- Menú lateral que aparece al presionar el botón -->
    <div id="sideMenu" class="side-menu">
        <a href="javascript:void(0)" class="close-btn" onclick="closeMenu()">&times;</a>
        <a href="{% url 'patient_profile' %}">Editar Mi Perfil</a>
        
    </div>


<br>
<br>
<br>
<br>
<br>
<br>
    <div class="container">
        <h1>Bienvenido, {{ user.username }}</h1>
        <h2>Aquí puedes ver tu perfil nutricional y gestionar tus citas con tu doctor.</h2>
        
       

        <div class="specific-template"><!-- Mostrar información del perfil nutricional -->
            <div class="card-container">
            
                <div class="card nutritional-card">
                    <div class="content">
                        <h2>Perfil Nutricional</h2>
                        <ul>
                            <li><strong>Altura:</strong> {{ user.patientprofile.height }} cm</li>
                            <li><strong>Peso:</strong> {{ user.patientprofile.weight }} kg</li>
                            <li><strong>Objetivos Nutricionales:</strong> {{ user.patientprofile.nutrition_goals }}</li>
                            <li><strong>Restricciones Alimentarias:</strong> {{ user.patientprofile.dietary_restrictions }}</li>
                        </ul>
                    </div>
                </div>
            
                <!-- Tarjeta para agendar cita -->
                <div class="card schedule-card">
                    <div class="content">
                        <h2>Agendar Cita</h2>
                        <a href="{% url 'agendar_cita' %}" button Class>
                            <button class="button-container">
                                <div class="shadow"></div>
                                <div class="edge"></div>
                                <div class="front">Agendar cita con el doctor</div>
                            </button>
                        </a>
                    </div>
                </div>
            
                <!-- Tarjeta para el historial de citas -->
                <div class="card history-card">
                    <div class="content">
                        <h2>Dietas</h2>
                        <p>Registra y haz seguimiento de tus alimentos, calorías y nutrientes.</p>
                        <a href="{% url 'food_intake' %}">
                            <button class="button-container">
                                <div class="shadow"></div>
                                <div class="edge"></div>
                                <div class="front">Registrar Alimentos</div>
                            </button>
                        </a>
                
                        <h2>Mis Alimentos por Día</h2>
                        <a href="{% url 'food_intake_by_day' %}">
                            <button class="button-container">
                                <div class="shadow"></div>
                                <div class="edge"></div>
                                <div class="front">Ver Alimentos de Hoy</div>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="card drnotes-card">
                    <div class="content">
                        <h2>Notas del Doctor</h2>
                        <a href="{% url 'ver_notas_paciente'  %}" button Class>
                            <button class="button-container">
                                <div class="shadow"></div>
                                <div class="edge"></div>
                                <div class="front">Ver notas del doctor</div>
                            </button>
                </div>
            </div>
            

            </div>
        </div>
        
        <br>
<br>
<br>
<br>

        
    </div>
    

    <footer>
        <p></p>
    </footer>
    <script>
        function openMenu() {
            document.getElementById("sideMenu").classList.add("open");
        }

        function closeMenu() {
            document.getElementById("sideMenu").classList.remove("open");
        }
    </script>
</body>
</html>