<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Paciente</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="gradient-bg">
        <div class="gradients-container">
            <div class="g1"></div>
            <div class="g2"></div>
            <div class="g3"></div>
            <div class="g4"></div>
            <div class="g5"></div>
            <div class="interactive"></div>
        </div>
    </div>
    <!-- Barra de navegación -->
    <div class="navbar">
        <a href="{% url 'home' %}" class="icon-home">
            <i class="fas fa-home"></i> Inicio
        </a>
    </div>
    <div class="container">
        <h1>Registro de Paciente</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button-container">
                <div class="shadow"></div>
                <div class="edge"></div>
                <div class="front">Registrarse</div>
            </button>
        </form>
        <div class="footer">
            ¿Ya tienes una cuenta? <a href="{% url 'home' %}">Iniciar Sesión</a>
        </div>
    </div>
</body>
</html>
