<!-- nutrition/templates/nutrition/registration_successful.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>

    <!-- Cargar los archivos estáticos -->
    {% load static %}
    
    <!-- Enlazar el archivo CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Barra de navegación -->
    <div class="navbar">
        <a href="{% url 'home' %}" class="icon-home">
        </a>
    </div>
    <div class="container">
        <h1>¡Registro Exitoso!</h1>
        <p>Te has registrado con éxito.</p>
        
        <!-- Botón para ir al inicio -->
        <a href="{% url 'home' %}" class="btn">Ir al Inicio</a>
    </div>
</body>
</html>