<!-- ver_citas_doctor.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Citas</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Barra de navegación -->
    <div class="navbar">
        <a href="{% url 'home' %}" class="icon-home">
            <i class="fas fa-home"></i> Inicio
        </a>
        <a href="{% url 'home' %}" class="icon-logout">
            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
        </a>
    </div>

    <h1>Mis Citas</h1>
    <ul>
        {% for cita in citas %}
        <li>{{ cita.fecha }} - {{ cita.hora }} con {{ cita.paciente.username }}</li>
        {% empty %}
        <li>No tienes citas programadas.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'gestionar_citas' %}" class="btn">Gestionar Citas</a>
    <a href="{% url 'doctor_home' %}" class="btn">Volver al Inicio</a>
</body>
</html> 