<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas del Doctor</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Notas del Doctor para {{ paciente.user.username }}</h1>
        <ul>
            {% for nota in notas %}
                <li>
                    <strong>{{ nota.fecha }}</strong>: {{ nota.contenido }}
                </li>
            {% empty %}
                <li>No hay notas disponibles.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'patient_home' %}" class="btn">Volver al Inicio</a>
    </div>
</body>
</html>
